<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form method="post" action="/posts"  id="form">
        <input  placeholder="Username" name="username"   >
        <br><br>
        <textarea id ="textarea"  rows="10" cols="35" name="content" placeholder="Write the content of the post...."></textarea>
        <br><br>
        <button id="btn">Submit Post</button>
    </form>
    
</body>
</html>